@page "/studyflashcards"
@using FlasherServer.Pages.Study.Models

<EditForm Model="Page" OnSubmit="HandleOnSubmit">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3>@CardTitle</h3>
                <h5>@SubjectTitle, @CategoryTitle</h5>
            </div>
            <div class="card-body">
                <h5>@CardSide</h5>
                <p>@CardBody</p>
            </div>
            <div class="card-footer">
                <div class="row-cols-4">
                    <button class="btn btn-primary col" @onclick="FlipFlashcard">Show @ShowButton</button>
                    <div class="btn-group col">
                        <button class="btn btn-outline-primary ml-4" @onclick="LastFlashcard">Last</button>
                        <button class="btn btn-outline-primary ml-4" @onclick="NextFlashcard">Next</button>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="form-check">
                        <InputCheckbox @onclick="UpdateAnswerStatus" @bind-Value="AnsweredCorrectly" id="answeredCorrectly"></InputCheckbox>
                        <label class="form-check-label" for="answeredCorrectly">Answered Correctly</label>
                    </div>
                </div>
            </div>
        </div>
        <h6>Cards viewd = @Counter</h6>
    </div>
</EditForm>




