@page "/"

<EditForm Model="IndexPage" OnSubmit="Submit">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3>@IndexPage.Name</h3>
                <h5>@IndexPage.SubjectName, @IndexPage.CategoryName</h5>
            </div>
            <div class="card-body">
                <h5>@IndexPage.Side</h5>
                <p>@IndexPage.Body</p>
            </div>
            <div class="card-footer">
                <div class="row">
                    <button class="btn btn-primary" @onclick="FlipFlashcard">Show @IndexPage.ShowButton</button>
                    <div class="btn-group">
                        <button class="btn btn-outline-primary ml-4" @onclick="LastFlashcard">Last</button>
                        <button class="btn btn-outline-primary ml-4" @onclick="NextFlashcard">Next</button>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="form-check">
                        <InputCheckbox @onclick="UpdateAnswerStatus" @bind-Value="IndexPage.AnsweredCorrectly" id="answeredCorrectly"></InputCheckbox>
                        <label class="form-check-label" for="answeredCorrectly">Answered Correctly</label>
                    </div>
                </div>
            </div>
        </div>
        <h6>Cards viewd = @IndexPage.Counter</h6>
    </div>
</EditForm>


